<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <title>Colegio Patria</title>
</head>

<body class=" container">
    <style>
        .flex-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
            align-items: center;

        }
    </style>
    <h1 class="text-center">Colegio Patria</h1>
    <div class="flex-container">
        <div>
            <form action="">
                <div class="mb-3">
                    <label for="numero" class="form-label">Numero</label>
                    <input name="numero" type="number" class="form-control" id="numero" required value=<%=numero%>>
                </div>
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input name="nombre" type="text" class="form-control" id="nombre" required value=<%=nombre%>>
                </div>
                <div class="mb-3">
                    <label for="adress" class="form-label">Direccion</label>
                    <input name="adress" type="text" class="form-control" id="adress" required value=<%=adress%>>
                </div>
                <select name="nivel" class="form-select" aria-label="Default select example" required>
                    <option selected disabled>Nivel</option>
                    <option value=".30">Licenciatura o Ingeniería</option>
                    <option value=".50">Maestro en Ciencias</option>
                    <option value="1">Doctor</option>
                </select>
                <div class="mb-3">
                    <label for="pago" class="form-label">Pago base por hora</label>
                    <input name="pago" type="number" class="form-control" id="pago" required value=<%=pago%>>
                </div>
                <div class="mb-3">
                    <label for="horas" class="form-label">Horas</label>
                    <input name="horas" type="number" class="form-control" id="horas" required value=<%=horas%>>
                </div>
                <select name="hijos" class="form-select" aria-label="Default select example" required>
                    <option selected disabled>Numero de hijos</option>
                    <option value="0">No tengo</option>
                    <option value=".05">1 a 2</option>
                    <option value=".10">3 a 5</option>
                    <option value=".20">Más de 5</option>
                </select>
                <div class="mt-4">
                    <button class="btn btn-primary">Calcular</button>
                    <a class="btn btn-danger" href="/">Limpiar</a>
                </div>

            </form>
        </div>


        <%let nivelText='' ; let hijosText='' ; if(nivel==='.30' ){ nivelText='Licenciatura o Ingeniería' ; } else
            if(nivel==='.50' ){ nivelText='Maestro en Ciencias' ; }else{ nivelText='Doctor' ; } if(hijos==='0' ){
            hijosText='No tiene hijos' ; } else if(hijos==='.05' ){ hijosText='1 a 2' ; } else if(hijos==='.10' ){
            hijosText='3 a 5' ; }else{ hijosText='5 o mas' ; } const pagoPorHoraImpartida=pago * horas; const
            pagoConPorcentaje=(pagoPorHoraImpartida * nivel) + pagoPorHoraImpartida; const impuesto=(pagoConPorcentaje *
            .16); const bono=(pagoConPorcentaje * hijos); const pagoTotal=(pagoConPorcentaje - impuesto) + bono %>

            <div>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Número</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">Nivel</th>
                            <th scope="col">Pago</th>
                            <th scope="col">Horas</th>
                            <th scope="col">Hijos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <%=numero%>
                            </td>
                            <td>
                                <%=nombre%>
                            </td>
                            <td>
                                <%=adress%>
                            </td>
                            <td>
                                <%=nivelText%>
                            </td>
                            <td>
                                <%=pago%>
                            </td>
                            <td>
                                <%=horas%>
                            </td>
                            <td>
                                <%=hijosText%>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <h1 class="text-center">Detalles del pago</h1>
                    <h2>Pago por Horas Impartidas:$<%=pagoConPorcentaje%>
                    </h2>
                    <h2>Pago por Bono:$ <%=bono%>
                    </h2>
                    <h2>Impuestos:$<%=impuesto%>
                    </h2>
                    <h2>Total a Pagar:$<%=pagoTotal%>
                    </h2>
                </div>

            </div>
    </div>



</body>

</html>